<section class="fw-bg-color-green fw-border-box fw-pt-60 fw-pt-93@m fw-pb-60 fw-pb-86@m">
    <div class="container">
        <div class="fw-text-center">
            <p class="fw-font-bold fw-text-uppercase fw-color-white fw-fz-30 fw-fz-32@m fw-margin-none wow slideInLeft">Хотите быстро узнать стоимость Вашей перевозки?</p>
            <p class="fw-fz-20 fw-color-white fw-mt-20 fw-mb-0 wow slideInLeft">Отправьте заявку на бесплатный расчет стоимости</p>
            <form action="" class="fw-mt-57 fw-inline-block fw-max-width-360 fw-width-1-1 callback-form wow slideInRight">
                <input type="hidden" name="subject" value="Узнать стоимость перевозки">
                <div>
                    <input type="text" name="name" class="fw-color-white fw-width-1-1 fw-border-box fw-border-width-1 fw-border-style-solid-bottom fw-border-color-white fw-bg-transparent fw-text-center fw-fz-18 fw-pb-7" placeholder="Ваше имя">
                </div>
                <div class="fw-mt-23">
                    <input type="text" name="phone" class="fw-color-white fw-width-1-1 fw-border-box fw-border-width-1 fw-border-style-solid-bottom fw-border-color-white fw-bg-transparent fw-text-center fw-fz-18 fw-pb-7" placeholder="Ваш телефон">
                </div>
                <div class="form-answer"></div>
                <div class="fw-mt-35">
                    <button type="submit" class="button-transparent button-transparent--inverse">Отправить заявку</button>
                </div>
            </form>
            <div class="fw-mt-51 wow slideInLeft">
                <p class="fw-fz-18 fw-color-white fw-margin-none">Для расчета стоимости доставки и таможенной очистки требуется:</p>
                <p class="fw-fz-18 fw-color-white fw-mt-10 fw-mt-2@m fw-mb-0">1. упаковочный лист/инвойс;</p>
                <p class="fw-fz-18 fw-color-white fw-mt-10 fw-mt-2@m fw-mb-0">2. маршрут движения товара (пункт отправления, точка А и пункт назначения, точка В)</p>
            </div>
        </div>
    </div>
</section>