<footer class="fw-bg-color-black fw-border-box fw-pt-30 fw-pb-30">
    <div class="container">
        <div class="fw-grid fw-grid-middle@s fw-grid-15">
            <div class="fw-width-1-1 fw-width-2-5@m">
                <p class="fw-margin-none fw-flex fw-flex-middle fw-flex-center fw-flex-left@m">
                    <a href="tel+77023451727" class="fw-text-underline-hover fw-color-white fw-fz-16">+ 7 702 345 17 27</a>
                    <span class="fw-color-grey fw-fz-12 fw-mr-10 fw-ml-10">|</span>
                    <a href="tel:+77015156028" class="fw-text-underline-hover fw-color-white fw-fz-16">+ 7 701 515 60 28</a>
                </p>
                <p class="fw-color-white fw-fz-16 fw-mt-5 fw-mb-0 fw-text-center fw-text-left@m">г. Алматы, ул. Мустафина 54/24 корпус 1, офис 5</p>
            </div>
            <div class="fw-width-1-1 fw-width-1-5@m">
                <div class="fw-flex fw-flex-middle fw-flex-center fw-mt-10 fw-mt-0@m">
                    <div><a target="_blank" href="https://www.instagram.com/eglc.kz/?hl=ru" class="fw-flex fw-flex-center fw-text-decoration-none fw-mr-10"><i class="fri fri-instagram-green"></i></a></div>
                    <div><a target="_blank" href="https://www.facebook.com/Eurasia-Global-Logistic-Company-LLP-2007004986195017 " class="fw-flex fw-flex-center fw-text-decoration-none fw-ml-10"><i class="fri fri-facebook-green"></i></a></div>
                </div>
            </div>
            <div class="fw-width-1-1 fw-width-2-5@m">
                <div class="fw-text-center fw-text-right@m fw-mt-10 fw-mt-0@m">
                    <a href="#" class="button-transparent js-open-popup" data-popup-target="callback">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="popup-wrapper js-popup" data-popup="callback">
    <div class="popup">
        <div class="fw-bg-color-green fw-text-center fw-border-box fw-pt-30 fw-pb-50 fw-pl-30 fw-pr-30">
            <a href="#" class="popup__close js-close-popup">Закрыть</a>
            <p class="fw-margin-none fw-color-white">Отправьте заявку на
                бесплатный расчет стоимости</p>
            <form action="" class="fw-mt-30 fw-inline-block fw-max-width-360 fw-width-1-1 callback-form">
                <input type="hidden" name="subject" value="Заказ звонка">
                <div>
                    <input type="text" name="name" class="fw-color-white fw-width-1-1 fw-border-box fw-border-width-1 fw-border-style-solid-bottom fw-border-color-white fw-bg-transparent fw-text-center fw-fz-18 fw-pb-7" placeholder="Ваше имя">
                </div>
                <div class="fw-mt-23">
                    <input type="text" name="phone" class="fw-color-white fw-width-1-1 fw-border-box fw-border-width-1 fw-border-style-solid-bottom fw-border-color-white fw-bg-transparent fw-text-center fw-fz-18 fw-pb-7" placeholder="Ваш телефон">
                </div>
                <div class="form-answer"></div>
                <div class="fw-mt-35">
                    <button type="submit" class="button-transparent button-transparent--inverse">Отправить заявку</button>
                </div>
            </form>
        </div>
    </div>
</div>